body {
  background: url("../css/milkyway.jpg");
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: 'Mali', cursive, Utopia, "Liberation Serif", Sans-Serif;
	text-align: center;
	font-size: 19px;
  color: white;
	vertical-align: middle;
}
 label{
    float: none;
    display: inline-block;
    margin-right: 2%;

  }


h1  {
  color: #fff;
  font-style: oblique;
  font-family: monospace;
  font-size: 3em;
  text-shadow: #fff 0 0 100px;
}

input {

		width: 100%;

}
input::placeholder {
	text-align: center;
}


div {
  height: 50px;
  /*background: grey;
  display: flex;*/
  align-items: center;
	text-align: center;
}
.box {
	text-align: center;
	height: auto;
	width: auto;
	padding: 10px;
	background-color: black;
	
}

input[type=text], input[type=email] {
	width: 25%;
	font-size: 15px;
	padding: 8px;
	vertical-align:middle;
}

input[type="submit"] {
	align-items: center;
	width: 15%;
	margin-top:10px;

}
